.login-body{
  // background-image:url("./../img/blogging2.jpg");
  background-image:url("./../../img/blogging2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  .login {
    @include flex(row, center, center);
    margin-top:5rem;
    &-screen {
        background-color:#f5d8dd;
        padding:30px;
        border-radius: 5px;
        box-shadow: 0 0 50px #ccc;
      .log-sign{
          position: relative;
          bottom: 1rem;
        &-top{
          @include flex(row, space-evenly, center);
          .log-head, .sign-up-head {
            cursor: pointer;
            transition: .3s;
            pointer-events: none;
            > h3{
              pointer-events: none;
            }
          }
          .log-head:hover, .sign-up-head:hover{
            opacity: .5;
          }
          .log-head{
            padding-left:1.2rem;
          }
          .sign-up-head{
            padding-right: .6rem;
            padding-left: 3rem;
          }
          &-hr{
            width: 50%;
            height: 5px;
            margin: .5rem 0 0 0;
            background-color: #000;
            transition: .3s;
            transform: translateX(100%);
          }
        }
      }
      .app-title{
          text-align:center;
          margin-bottom: 12px;
      }
      .login-form, .login-title{
          text-align: center;
          display:block;
      }
      .registration{
          margin:auto;
      }
    }
  }
}