$primary-color: #335eea;

// Backgrounds
$primaryBackgroundColor: #d3d6de;
$secondaryBackgroundColor: #e7e7e742;
$quatenaryBackgroundColor: #ffffff;

// Typography Color
$primaryTypefaceColor: #161c2d;
$secondaryTypefaceColor: #393939;
$tetiaryTypefaceColor: #869ab8;
$quatenaryTypefaceColor: #ffffff;

// Buttons
$primaryButtonBackgroundColor: #161c2d;
$secondaryButtonBackgroundColor: #c56a2d;
$tetiaryButtonHoverColor: #2b50c7;

// Border Color
$primaryBorderColor: #161c2d;

$link-color: #506690;
$white: #fff;
$fixed-header-height: 4.5rem;
